@import url('https://fonts.googleapis.com/css?family=Open+Sans');
.vertical_nav{
  position: fixed;
  top: 70px;
  z-index: 2;
  padding-right: 200px;
}
.menu{
  top:20px;
  left: 10px;
}
#logo{
  float: right;
}
.collapse{
  display:block;
}
.wrapper{
  top:70px;
  z-index: 1;
  position: relative;
}
body {
  overflow: auto;
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  font-size: 0.875rem;
  line-height: 1.42857143;
  color: #333;
  box-sizing: border-box;
}
.logo-menu{
  width: 20px;
  height: 20px;
  position: relative;
  margin-left: 20px;
}
header {
  position: fixed;
  /*top: 0;
  left: 0;*/
  z-index: 999;

  width: 100%;
  height: 70px;

  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.5) 0 -20px 20px 20px;
}
#buttonCharge {
  background-color: #FDE81E;
  border: 1px solid #FDE81E;
}
.clearfix:after {
  content: "";
  display: block;
  clear: both;
}
div.holi {
    width: 100px;
    height: 600px;
    background: red;
    -webkit-transition: width 2s; /* For Safari 3.1 to 6.0 */
    transition: width 2s;
}
select{
  width: 280px !important;
}
div.holi:hover {
    width: 700px;
}
/* Medium devices (desktops)
==========================*/
@media (min-width: 992px) {
  body {
    overflow-y: scroll;
  }
  .wrapper {
    margin-left: 300px;
  }
}
@media (max-width: 300px) {
  #logo {
    display: none;
  }
  .menu {
    width: 400px !important;
  }

}
