@import url('https://fonts.googleapis.com/css?family=Open+Sans');

#buttonCharge {
  background-color: #FDE81E;
  border: 1px solid #FDE81E;
}

select{
  width: 230px !important;
}
body {
  font-family: 'Open Sans', sans-serif;
}
@media (max-width: 992px) {
  select{
    width: 100%;
  }
}
